.Rproj.user
.Rhistory
.RData
.Ruserdata

*.png
*.html
*.RData
*.png
*.json
*.tsv
*.pdf
data-raw/mimic
data/*.csv
visuals/*.csv
models/*

*.feather
*.xz
*.xls
*.docx
*.xlsx

*.DS_Store

.ipynb_checkpoints
__pycache__
nmslib
